streamlit
spacy
spacy-streamlit
https://github.com/explosion/spacy-models/releases/download/es_core_news_lg-3.4.0/es_core_news_lg-3.4.0-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.4.0/en_core_web_trf-3.4.0-py3-none-any.whl
transformers
torch
https://huggingface.co/openbmb/MiniCPM-V-2/resolve/main/MiniCPM-V-2.zip
