streamlit==1.23.1
spacy==3.4.0
https://github.com/explosion/spacy-models/releases/download/es_core_news_lg-3.7.0/es_core_news_lg-3.7.0.tar.gz
https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.7.3/en_core_web_trf-3.7.3.tar.gz
transformers
https://huggingface.co/openbmb/MiniCPM-V-2/resolve/main/pytorch_model.bin
